<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Quản lí nhân viên</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<body>
<th:block th:replace="layout:: header"></th:block>
<div class="container">
  <h1 >Thêm</h1>
  <form th:action="@{/addnv}" th:object="${user}" method="post">
    <div class="col-6 mb-3">
      <label class="form-label" for="name" >Tên nhân viên</label>
      <input  class="form-control" type="text" th:field="*{name}" id="name">
      <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>

    <div class="col-6 mb-3">
      <label class="form-label" for="email" >Email</label>
      <input  class="form-control" type="text" th:field="*{email}" id="email">
      <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="username" >Tên tài khoản</label>
      <input  class="form-control" type="text" th:field="*{username}" id="username">
      <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="password">Mật khẩu</label>
      <input  class="form-control" type="text" th:field="*{password}" id="password">
      <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </div>

     <div class="col-6 mb-3">
       <label class="form-label" for="role">Quyền</label>
       <select class="form-control" id="role" name="role">
         <option value="--select">-- Chọn quyền --</option>
         <option th:each="role : ${roles}" th:value="${role.id}"
                 th:text="${role.name}">
         </option>
       </select>
       <!--      <span class="text-danger" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></span>-->
     </div>


    <input type="submit" class="btn btn-primary" th:value="Save">
  </form>
  <br>
  <a th:href="@{/nhanViens}">Trở về trang chủ</a>
  <br><br><br><br><br>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>